body {
    background-color: white;
}

h1 {
    color: Peru;
}

th, td {
    border: 0.2px solid white;
    border-collapse: collapse;
}

th, td {
    background-color: Peru;
}

td:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

th:hover {
    background-color: antiquewhite;
}

td {
    text-align: center;
    padding-right: 1.2%;
}

th {
    padding: 1.2%;
}
